[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter   
    url = git://github.com/scrooloose/nerdcommenter.git 
[submodule "bundle/vim-git-branch-info"]
	path = bundle/vim-git-branch-info    
    url = git://github.com/taq/vim-git-branch-info.git
    
